{{ define "Index" }}
    {{ template "Head" }}
    {{ template "Nav" }}
        <div class="col-md-6">
            <p>Acessar: <a href="/admin/">/admin</a></p>
            <p>Acessar: <a href="/api/">/api</a></p>
        </div>
    {{ template "Foot" }}
{{ end }}